saves/midiISS.json
[{"id":"8512ec14.25e31","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"c1dc522f.81c74","type":"http request","z":"8512ec14.25e31","name":"","method":"GET","ret":"obj","paytoqs":false,"url":"http://api.open-notify.org/iss-now.json","tls":"","persist":false,"proxy":"","authType":"","x":290,"y":80,"wires":[["6cf775ca.fce19c"]]},{"id":"5236d181.b9656","type":"inject","z":"8512ec14.25e31","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":80,"wires":[["c1dc522f.81c74"]]},{"id":"347eedf7.410f62","type":"debug","z":"8512ec14.25e31","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"msg.midi.data","targetType":"jsonata","x":900,"y":260,"wires":[]},{"id":"6cf775ca.fce19c","type":"function","z":"8512ec14.25e31","name":"Parse Lat/Long","func":"if (msg.statusCode !== 200){\n    node.done('error getting data');\n    return;\n}\nvar x = parseFloat(msg.payload.iss_position.longitude);\nvar y = parseFloat(msg.payload.iss_position.latitude);\n\nreturn [\n    {payload:'lat', val:x, min:-90,  max:90},\n    {payload:'lon', val:y, min:-180, max: 80}\n];","outputs":2,"noerr":0,"x":340,"y":160,"wires":[["3ed4daf8.948cc6"],["3ed4daf8.948cc6"]]},{"id":"93e9b917.3236f8","type":"midi out","z":"8512ec14.25e31","name":"","midiport":"0","x":840,"y":300,"wires":[]},{"id":"e1e8b6c1.07d928","type":"function","z":"8512ec14.25e31","name":"Gen Midi Message","func":"var newMsg = {\n    midi: {\n        type: (msg.payload == \"lat\" ? \"noteon\":\"noteon\"),\n        channel: 1,\n        data: [msg.val,127]\n    }\n}\nreturn newMsg;","outputs":1,"noerr":0,"x":810,"y":160,"wires":[["93e9b917.3236f8","347eedf7.410f62"]]},{"id":"63d89446.9fef3c","type":"comment","z":"8512ec14.25e31","name":"LAT: -90 to 90","info":"","x":110,"y":140,"wires":[]},{"id":"3ed4daf8.948cc6","type":"function","z":"8512ec14.25e31","name":"Clamp Midi Range","func":"var resMin = 20; //0\nvar resMax = 100; //127\n\nvar percent = (msg.val - msg.min) / (msg.max - msg.min);\nvar perc = percent * (resMax - resMin) + resMin;\nvar clampedValue = Math.round(Math.min(Math.max(perc, resMin), resMax));\n\nvar returnVal = {\n    payload: msg.payload,\n    val: clampedValue\n}\n\nif (returnVal.payload == \"lat\") {\n   return [ returnVal, null ];\n}\nelse {\n   return [ null, returnVal ];\n}\n","outputs":2,"noerr":0,"x":550,"y":160,"wires":[["6f02a9ed.8addf8"],["e1e8b6c1.07d928"]]},{"id":"adbfb8e7.712d88","type":"comment","z":"8512ec14.25e31","name":"LONG: -180 to 80","info":"","x":130,"y":180,"wires":[]},{"id":"6f02a9ed.8addf8","type":"delay","z":"8512ec14.25e31","name":"","pauseType":"delay","timeout":"10","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":710,"y":80,"wires":[["e1e8b6c1.07d928"]]}]