saves/midi.json
[{"id":"800b4dbd.a51ff","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"8512ec14.25e31","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"f4128058.5d1df","type":"serial-port","z":"800b4dbd.a51ff","serialport":"/dev/cu.usbmodem271161","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","waitfor":"","newline":"0","bin":"bin","out":"time","addchar":"false","responsetimeout":""},{"id":"73014179.e8554","type":"serial-port","z":"","serialport":"/serialosc/list si","serialbaud":"57600","databits":"8","parity":"none","stopbits":"1","waitfor":"","newline":"\\n","bin":"false","out":"char","addchar":"","responsetimeout":"10000"},{"id":"e17d17c8.d3eee8","type":"midi out","z":"800b4dbd.a51ff","name":"","midiport":"0","x":440,"y":740,"wires":[]},{"id":"db063a82.c2ac18","type":"inject","z":"800b4dbd.a51ff","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":800,"wires":[["f1632e9d.30bd3"]]},{"id":"6bb5ad43.b0bb24","type":"debug","z":"800b4dbd.a51ff","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":400,"y":860,"wires":[]},{"id":"f1632e9d.30bd3","type":"function","z":"800b4dbd.a51ff","name":"","func":"var newMsg = {\n    midi: {\n        type: 'noteon',\n        channel: 1,\n        data: [90,127]\n    }\n}\n  \nreturn newMsg;","outputs":1,"noerr":0,"x":270,"y":800,"wires":[["e17d17c8.d3eee8","6bb5ad43.b0bb24"]]},{"id":"c1dc522f.81c74","type":"http request","z":"8512ec14.25e31","name":"","method":"GET","ret":"obj","paytoqs":false,"url":"http://api.open-notify.org/iss-now.json","tls":"","persist":false,"proxy":"","authType":"","x":320,"y":140,"wires":[["6cf775ca.fce19c"]]},{"id":"5236d181.b9656","type":"inject","z":"8512ec14.25e31","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":160,"wires":[["c1dc522f.81c74"]]},{"id":"347eedf7.410f62","type":"debug","z":"8512ec14.25e31","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":750,"y":140,"wires":[]},{"id":"6cf775ca.fce19c","type":"function","z":"8512ec14.25e31","name":"","func":"if (msg.statusCode !== 200){\n    return false;\n}\nvar x = parseFloat(msg.payload.iss_position.longitude);\nvar y = parseFloat(msg.payload.iss_position.latitude);\n\nreturn [\n    {payload:x},\n    {payload:y}\n];","outputs":2,"noerr":0,"x":370,"y":300,"wires":[["e1e8b6c1.07d928"],["e1e8b6c1.07d928"]]},{"id":"93e9b917.3236f8","type":"midi out","z":"8512ec14.25e31","name":"","midiport":"0","x":840,"y":300,"wires":[]},{"id":"e1e8b6c1.07d928","type":"function","z":"8512ec14.25e31","name":"","func":"var newMsg = {\n    midi: {\n        type: 'noteon',\n        channel: 1,\n        data: [60,127]\n    }\n}\n  \nreturn newMsg;","outputs":1,"noerr":0,"x":530,"y":300,"wires":[["93e9b917.3236f8","347eedf7.410f62"]]}]